/* General Layout Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container, .main-menu {
    text-align: center;
    width: 100%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-menu img {
    width: 500px;
    height: auto;
}

.main-menu button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.main-menu button:hover {
    background-color: #3700b3;
}

.game-container {
    display: none;
}

.base-container {
    position: relative;
    width: 500px;
    height: 700px;
    margin: 20px auto 0 auto;
}

.base-container img {
    width: 500px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

/* Main layer (base image) */
#base-image {
    z-index: 2; /* Base image between backpacks and suits */
    position: relative;
}

/* Layer stacking for items */
/* Backpack layer - Set below base image */
.backpackl, .backpackr {
    z-index: 1; /* Places backpacks below the base image */
}

/* Suits - Positioned above the base image */
.suitl {
    z-index: 3; /* Suit left */
}

.suitr {
    z-index: 3; /* Suit right */
}

/* Faces */
.facel {
    z-index: 4; /* Face left */
}

.facer {
    z-index: 4; /* Face right */
}

/* Shoes */
.shoel {
    z-index: 5; /* Shoes left */
}

.shoer {
    z-index: 5; /* Shoes right */
}

/* Bags */
.bagl {
    z-index: 6; /* Bag left */
}

.bagr {
    z-index: 6; /* Bag right */
}

/* Scarves */
.scarfr {
    z-index: 7; /* Scarf right */
}

.scarfl {
    z-index: 7; /* Scarf left */
}

/* Caps */
.capl {
    z-index: 8; /* Cap left */
}

.capr {
    z-index: 8; /* Cap right */
}

/* Controls for item categories */
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.category img {
    width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    border: 0.5px solid transparent;
    border-radius: 2px;
    object-fit: cover;
}

.category img:hover {
    border-color: #3700b3;
}